:root {
    --late-gradient-end: rgba(255, 0, 0, .05);
    --late-bg-color: rgba(193, 34, 34, 0.1);
    --late-bg-color-dark: rgba(193, 34, 34, 0.15);
    --late-border-color: #fc0000;
    --paid-bg-color: rgba(34, 193, 34, 0.1);
    --paid-border-color: #22c122;
}

.card_unpaid_late{
    background-color: var(--late-bg-color-dark);
    border-color: var(--late-bg-color-dark) !important;
    border-width: 3px !important;
}

.card_unpaid_late .card-header{
    background-color: var(--late-bg-color-dark);
}

.card_paid_late{
    background-color: var(--late-bg-color);
}

.card_paid_late .card-header{
    background-color: var(--late-bg-color);
}

.card_paid .card-header{
    background-color: var(--paid-bg-color);
}

.card_paid{
    background-color: var(--paid-bg-color);
}

.collapse-custom{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    opacity: 0;

}

.collapse-custom.show {
    max-height: 500px; /* adjust this if needed */
    opacity: 1;
  }

.rotate-180 {
    transform: rotate(90deg); 
    transition: transform 0.3s ease;
}

.selectable-card {
    cursor: pointer;
    transition: 0.2s ease;
}
.selectable-card.selected {
    border: 2px solid #007bff;
    background-color: #e7f1ff;
}